{% extends 'base.html' %}

{% block css %}
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/admin/css/index.css">

{% endblock %}

{% block ico %}
    <link rel="shortcut icon" href="/static/admin/img/icon/sp_demo1.ico">

{% endblock %}


{% block js1 %}
    <!-- 引入组件库 -->
    <script src="/static/admin/vue/vue.min.js"></script>

    <script src="/static/admin/js/index.js"></script>
    <script type="text/javascript" src="/static/admin/js/axios.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/common.js"></script>
{% endblock %}


