{% extends 'base.html' %}

{% block css %}
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/admin/css/index.css">

{% endblock %}

{% block ico %}

{% endblock %}


{% block js1 %}
    <!-- 引入组件库 -->
    <script src="/static/admin/simpleui-x/js/vue.min.js"></script>

    <script src="/static/admin/js/index.js"></script>
    <script type="text/javascript" src="/static/admin/js/axios.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/common.js"></script>
{% endblock %}


{% block content %}

{% endblock %}


{% block style1 %}

{% endblock %}


{% block js2 %}

{% endblock %}